<div class="text-center">
  <img class="img__footer-logo" src="/themes/basic/images/source/vlo-logo-white.svg" alt="">
  <div class="social-icons">
    <img src="/themes/basic/images/source/facebook.svg" alt="Facebook" class="img__social-icon">
    <img src="/themes/basic/images/source/instagram.svg" alt="Instagram" class="img__social-icon">
    <img src="/themes/basic/images/source/twitter.svg" alt="Twitter" class="img__social-icon">
    <img src="/themes/basic/images/source/pinterest.svg" alt="Pinterest" class="img__social-icon">
  </div>
  <div class="newsletter-signup">
    <img class="envelope" src="/themes/basic/images/source/envelope.svg" alt="Sign Up">
    <a href="mailto://#">Sign up for our e-newsletter</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="column--one-third text-center">
    <p>
      <b>Greene County CVB</b>
      <br/> 1034 Silver Drive, Suite 201
      <br/> Greensboro, GA 30642
      <br/> (706) 453-0380</p>
  </div>
  <div class="column--one-third">
    <nav>
      <ul>
        <li class="nav-item">
          <a href="">Accomodations</a>
        </li>
        <li class="nav-item">
          <a href="">Activities</a>
        </li>
        <li class="nav-item">
          <a href="">Dining</a>
        </li>
        <li class="nav-item">
          <a href="">Golf</a>
        </li>
        <li class="nav-item">
          <a href="">Itineraries</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column--one-third">
    <nav>
      <ul>
        <li class="nav-item">
          <a href="">Shopping</a>
        </li>
        <li class="nav-item">
          <a href="">History</a>
        </li>
        <li class="nav-item">
          <a href="">Video/Media</a>
        </li>
        <li class="nav-item">
          <a href="#">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<hr>
<div class="text-center">
  <a href="#">Privacy Policy</a> |
  <a href="#">Sitemap</a> |
  <a href="#">Partner Login</a> |
  <a href="#">Press Room</a>
</div>
<div class="text-center copyright">&copy;2017 Greene County CVB. Site design by
  <a href="https://prolifikseo.com">Prolifik</a>.</div>
